* {
    margin: 0;
    background-color: #52ac8f;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #5e2e6b;
    padding: 20px;
    
}

#paintings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
#monaLisa {
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

#mondrian {
    width: 200px;
    height: 200px;
    border-radius: 3px;
}
#renoir {
    width: 200px;
    height: 200px;
    border-radius: 3px;

}
#caravaggio {
    width: 200px;
    height: 200px;
    border-radius: 3px;


}
#frames {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center; 
}
.dropFrame {
    border: 10px double black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
 h2 {
    margin-bottom: 150px;
    font-family: 'Poppins', sans-serif;
}

#newGame {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#newGame button {
    position: relative;
    bottom: 100px;
    width: 150px;
    height: 75px;
    background-color: #5e2e6b;
    font-size: 30px;
}
